In [1]:
import pandas as pd
import os
import glob

In [2]:
#cd /Users/thanhnguyen/Desktop/Data_analysis/DE_k2/project1
os.chdir('/Users/thanhnguyen/Desktop/Data_analysis/DE_k2/project1_baseball')

In [3]:

games_dir = os.path.join(os.getcwd(), 'games')
game_files = glob.glob(os.path.join(games_dir, '*.EVE'))

In [4]:
game_files.sort()
#game_files

In [5]:
game_frames =[]


for game_file in game_files:
    game_frame = pd.read_csv(game_file, names = ['type','multi2', 'multi3', 'multi4', 'multi5', 'multi6', 'event'])
    
    
    #add to the game_frames list
    
    game_frames.append(game_frame)
    
type(game_frames)
game_frames

[        type         multi2                       multi3 multi4 multi5 multi6  \
 0         id   ALS193307060                          NaN    NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN    NaN
 3       info        visteam                          NLS    NaN    NaN    NaN
 4       info       hometeam                          ALS    NaN    NaN    NaN
 ..       ...            ...                          ...    ...    ...    ...
 165     data             er                     warnl101      1    NaN    NaN
 166     data             er                     hubbc101      0    NaN    NaN
 167     data             er                     gomel102      0    NaN    NaN
 168     data             er                     crowg102      2    NaN    NaN
 169     data             er                     grovl101      0    NaN    NaN

     event
 0     NaN
 1     NaN
 2     NaN
 3     NaN
 4     NaN
 ..    ...
 165   NaN
 166   NaN
 167   NaN
 168   NaN
 169   NaN

 [170 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5  \
 0         id   NLS193407100                          NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN
 3       info        visteam                          ALS    NaN    NaN
 4       info       hometeam                          NLS    NaN    NaN
 ..       ...            ...                          ...    ...    ...
 202     data             er                     hubbc101      0    NaN
 203     data             er                     warnl101      4    NaN
 204     data             er                     mungv101      4    NaN
 205     data             er                     deand102      1    NaN
 206     data             er                     franf101      0    NaN

      multi6 event
 0       NaN   NaN
 1       NaN   NaN
 2       NaN   NaN
 3       NaN   NaN
 4       NaN   NaN
 ..      ...   ...
 202     NaN   NaN
 203     NaN   NaN
 204     NaN   NaN
 205     NaN   NaN
 206     NaN   NaN

 [207 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5  \
 0         id   ALS193507080                          NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN
 3       info        visteam                          NLS    NaN    NaN
 4       info       hometeam                          ALS    NaN    NaN
 ..       ...            ...                          ...    ...    ...
 156     data             er                     schuh103      1    NaN
 157     data             er                     derrp101      0    NaN
 158     data             er                     deand102      0    NaN
 159     data             er                     gomel102      1    NaN
 160     data             er                     hardm101      0    NaN

      multi6 event
 0       NaN   NaN
 1       NaN   NaN
 2       NaN   NaN
 3       NaN   NaN
 4       NaN   NaN
 ..      ...   ...
 156     NaN   NaN
 157     NaN   NaN
 158     NaN   NaN
 159     NaN   NaN
 160     NaN   NaN

 [161 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5 multi6  \
 0         id   NLS193607070                          NaN    NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN    NaN
 3       info        visteam                          ALS    NaN    NaN    NaN
 4       info       hometeam                          NLS    NaN    NaN    NaN
 ..       ...            ...                          ...    ...    ...    ...
 171     data             er                     hardm101      0    NaN    NaN
 172     data             er                     deand102      0    NaN    NaN
 173     data             er                     hubbc101      0    NaN    NaN
 174     data             er                     davic103      3    NaN    NaN
 175     data             er                     warnl101      0    NaN    NaN

     event
 0     NaN
 1     NaN
 2     NaN
 3     NaN
 4     NaN
 ..    ...
 171   NaN
 172   NaN
 173   NaN
 174   NaN
 175   NaN

 [176 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5  \
 0         id   ALS193707070                          NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN
 3       info        visteam                          NLS    NaN    NaN
 4       info       hometeam                          ALS    NaN    NaN
 ..       ...            ...                          ...    ...    ...
 168     data             er                     mungv101      2    NaN
 169     data             er                     waltb102      0    NaN
 170     data             er                     gomel102      0    NaN
 171     data             er                     bridt101      3    NaN
 172     data             er                     hardm101      0    NaN

      multi6 event
 0       NaN   NaN
 1       NaN   NaN
 2       NaN   NaN
 3       NaN   NaN
 4       NaN   NaN
 ..      ...   ...
 168     NaN   NaN
 169     NaN   NaN
 170     NaN   NaN
 171     NaN   NaN
 172     NaN   NaN

 [173 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5  \
 0         id   NLS193807060                          NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN
 3       info        visteam                          ALS    NaN    NaN
 4       info       hometeam                          NLS    NaN    NaN
 ..       ...            ...                          ...    ...    ...
 151     data             er                     allej102      1    NaN
 152     data             er                     grovl101      0    NaN
 153     data             er                     vandj101      0    NaN
 154     data             er                     lee-b103      0    NaN
 155     data             er                     browm103      1    NaN

      multi6 event
 0       NaN   NaN
 1       NaN   NaN
 2       NaN   NaN
 3       NaN   NaN
 4       NaN   NaN
 ..      ...   ...
 151     NaN   NaN
 152     NaN   NaN
 153     NaN   NaN
 154     NaN   NaN
 155     NaN   NaN

 [156 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5  \
 0         id   ALS193907110                          NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN
 3       info        visteam                          NLS    NaN    NaN
 4       info       hometeam                          ALS    NaN    NaN
 ..       ...            ...                          ...    ...    ...
 152     data             er                     lee-b103      2    NaN
 153     data             er                     fettl101      0    NaN
 154     data             er                     ruffr101      1    NaN
 155     data             er                     bridt101      0    NaN
 156     data             er                     fellb101      0    NaN

      multi6 event
 0       NaN   NaN
 1       NaN   NaN
 2       NaN   NaN
 3       NaN   NaN
 4       NaN   NaN
 ..      ...   ...
 152     NaN   NaN
 153     NaN   NaN
 154     NaN   NaN
 155     NaN   NaN
 156     NaN   NaN

 [157 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5  \
 0         id   NLS194007090                          NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN
 3       info        visteam                          ALS    NaN    NaN
 4       info       hometeam                          NLS    NaN    NaN
 ..       ...            ...                          ...    ...    ...
 175     data             er                     derrp101      0    NaN
 176     data             er                     waltb102      0    NaN
 177     data             er                     wyatw101      0    NaN
 178     data             er                     frenl101      0    NaN
 179     data             er                     hubbc101      0    NaN

      multi6 event
 0       NaN   NaN
 1       NaN   NaN
 2       NaN   NaN
 3       NaN   NaN
 4       NaN   NaN
 ..      ...   ...
 175     NaN   NaN
 176     NaN   NaN
 177     NaN   NaN
 178     NaN   NaN
 179     NaN   NaN

 [180 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5 multi6  \
 0         id   ALS194107080                          NaN    NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN    NaN
 3       info        visteam                          NLS    NaN    NaN    NaN
 4       info       hometeam                          ALS    NaN    NaN    NaN
 ..       ...            ...                          ...    ...    ...    ...
 199     data             er                     passc101      5    NaN    NaN
 200     data             er                     fellb101      0    NaN    NaN
 201     data             er                     lee-t101      1    NaN    NaN
 202     data             er                     hudss101      2    NaN    NaN
 203     data             er                     smite105      2    NaN    NaN

     event
 0     NaN
 1     NaN
 2     NaN
 3     NaN
 4     NaN
 ..    ...
 199   NaN
 200   NaN
 201   NaN
 202   NaN
 203   NaN

 [204 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5 multi6  \
 0         id   NLS194207060                          NaN    NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN    NaN
 3       info        visteam                          ALS    NaN    NaN    NaN
 4       info       hometeam                          NLS    NaN    NaN    NaN
 ..       ...            ...                          ...    ...    ...    ...
 163     data             er                     benta101      1    NaN    NaN
 164     data             er                     coopm101      3    NaN    NaN
 165     data             er                     vandj101      0    NaN    NaN
 166     data             er                     passc101      0    NaN    NaN
 167     data             er                     waltb102      0    NaN    NaN

     event
 0     NaN
 1     NaN
 2     NaN
 3     NaN
 4     NaN
 ..    ...
 163   NaN
 164   NaN
 165   NaN
 166   NaN
 167   NaN

 [168 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5  \
 0         id   ALS194307130                          NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN
 3       info        visteam                          NLS    NaN    NaN
 4       info       hometeam                          ALS    NaN    NaN
 ..       ...            ...                          ...    ...    ...
 181     data             er                     sewer101      0    NaN
 182     data             er                     javea101      0    NaN
 183     data             er                     leond103      1    NaN
 184     data             er                     newhh101      0    NaN
 185     data             er                     hught102      2    NaN

      multi6 event
 0       NaN   NaN
 1       NaN   NaN
 2       NaN   NaN
 3       NaN   NaN
 4       NaN   NaN
 ..      ...   ...
 181     NaN   NaN
 182     NaN   NaN
 183     NaN   NaN
 184     NaN   NaN
 185     NaN   NaN

 [186 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5  \
 0         id   NLS194407110                          NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN
 3       info        visteam                          ALS    NaN    NaN
 4       info       hometeam                          NLS    NaN    NaN
 ..       ...            ...                          ...    ...    ...
 167     data             er                     newsb101      0    NaN
 168     data             er                     waltb102      1    NaN
 169     data             er                     raffk101      0    NaN
 170     data             er                     sewer101      0    NaN
 171     data             er                     tobij103      0    NaN

      multi6 event
 0       NaN   NaN
 1       NaN   NaN
 2       NaN   NaN
 3       NaN   NaN
 4       NaN   NaN
 ..      ...   ...
 167     NaN   NaN
 168     NaN   NaN
 169     NaN   NaN
 170     NaN   NaN
 171     NaN   NaN

 [172 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5  \
 0         id   ALS194607090                          NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN
 3       info        visteam                          NLS    NaN    NaN
 4       info       hometeam                          ALS    NaN    NaN
 ..       ...            ...                          ...    ...    ...
 192     data             er                     blace102      2    NaN
 193     data             er                     sewer101      4    NaN
 194     data             er                     fellb101      0    NaN
 195     data             er                     newhh101      0    NaN
 196     data             er                     kramj101      0    NaN

      multi6 event
 0       NaN   NaN
 1       NaN   NaN
 2       NaN   NaN
 3       NaN   NaN
 4       NaN   NaN
 ..      ...   ...
 192     NaN   NaN
 193     NaN   NaN
 194     NaN   NaN
 195     NaN   NaN
 196     NaN   NaN

 [197 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5 multi6  \
 0         id   NLS194707080                          NaN    NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN    NaN
 3       info        visteam                          ALS    NaN    NaN    NaN
 4       info       hometeam                          NLS    NaN    NaN    NaN
 ..       ...            ...                          ...    ...    ...    ...
 184     data             er                     pagej101      0    NaN    NaN
 185     data             er                     blace102      0    NaN    NaN
 186     data             er                     brech101      1    NaN    NaN
 187     data             er                     sainj101      1    NaN    NaN
 188     data             er                     spahw101      0    NaN    NaN

     event
 0     NaN
 1     NaN
 2     NaN
 3     NaN
 4     NaN
 ..    ...
 184   NaN
 185   NaN
 186   NaN
 187   NaN
 188   NaN

 [189 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5  \
 0         id   ALS194807130                          NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN
 3       info        visteam                          NLS    NaN    NaN
 4       info       hometeam                          ALS    NaN    NaN
 ..       ...            ...                          ...    ...    ...
 185     data             er                     sainj101      0    NaN
 186     data             er                     blace102      0    NaN
 187     data             er                     mastw101      2    NaN
 188     data             er                     rascv101      0    NaN
 189     data             er                     colej101      0    NaN

      multi6 event
 0       NaN   NaN
 1       NaN   NaN
 2       NaN   NaN
 3       NaN   NaN
 4       NaN   NaN
 ..      ...   ...
 185     NaN   NaN
 186     NaN   NaN
 187     NaN   NaN
 188     NaN   NaN
 189     NaN   NaN

 [190 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5  \
 0         id   NLS194907120                          NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN
 3       info        visteam                          ALS    NaN    NaN
 4       info       hometeam                          NLS    NaN    NaN
 ..       ...            ...                          ...    ...    ...
 229     data             er                     mungr101      0    NaN
 230     data             er                     bickv101      2    NaN
 231     data             er                     pollh101      3    NaN
 232     data             er                     blace102      0    NaN
 233     data             er                     roe-p101      0    NaN

      multi6 event
 0       NaN   NaN
 1       NaN   NaN
 2       NaN   NaN
 3       NaN   NaN
 4       NaN   NaN
 ..      ...   ...
 229     NaN   NaN
 230     NaN   NaN
 231     NaN   NaN
 232     NaN   NaN
 233     NaN   NaN

 [234 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5  \
 0         id   ALS195007110                          NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN
 3       info        visteam                          NLS    NaN    NaN
 4       info       hometeam                          ALS    NaN    NaN
 ..       ...            ...                          ...    ...    ...
 235     data             er                     lemob101      0    NaN
 236     data             er                     houta101      1    NaN
 237     data             er                     reyna102      0    NaN
 238     data             er                     grayt101      1    NaN
 239     data             er                     fellb101      0    NaN

      multi6 event
 0       NaN   NaN
 1       NaN   NaN
 2       NaN   NaN
 3       NaN   NaN
 4       NaN   NaN
 ..      ...   ...
 235     NaN   NaN
 236     NaN   NaN
 237     NaN   NaN
 238     NaN   NaN
 239     NaN   NaN

 [240 rows x 7 columns],
         type         multi2                       multi3 multi4 multi5  \
 0         id   ALS195107100                          NaN    NaN    NaN
 1    version              1                          NaN    NaN    NaN
 2       info  inputprogvers  version 7RS(19) of 07/07/92    NaN    NaN
 3       info        visteam                          NLS    NaN    NaN
 4       info       hometeam                          ALS    NaN    NaN
 ..       ...            ...                          ...    ...    ...
 215     data             er                     garvn102      0    NaN
 216     data             er                     lopae101      3    NaN
 217     data             er                     hutcf101      3    NaN
 218     data             er                     parnm101      1    NaN
 219     data             er                     lemob101      0    NaN

      multi6 event
 0       NaN   NaN
 1       NaN   NaN
 2       NaN   NaN
 3       NaN   NaN
 4       NaN   NaN

In [6]:
#task 7
games = pd.concat(game_frames)
games.head()

,type,multi2,multi3,multi4,multi5,multi6,event
0,id,ALS193307060,NaN,NaN,NaN,NaN,NaN
1,version,1,NaN,NaN,NaN,NaN,NaN
2,info,inputprogvers,version 7RS(19) of 07/07/92,NaN,NaN,NaN,NaN
3,info,visteam,NLS,NaN,NaN,NaN,NaN
4,info,hometeam,ALS,NaN,NaN,NaN,NaN

In [7]:
#task 8
#clean ?? value in multi5

games.loc[games.multi5 == '??', 'multi5'] = ''

In [8]:
#task 9
#extract identifiers
identifiers = games['multi2'].str.extract(r'(.LS(\d{4})\d{5})')
identifiers.head()
# null_count = identifiers[1].isnull().sum()
# print(null_count)

              0     1
0  ALS193307060  1933
1           NaN   NaN
2           NaN   NaN
3           NaN   NaN
4           NaN   NaN

In [9]:
#task10
identifiers = identifiers.fillna(method='ffill')
identifiers.head()

              0     1
0  ALS193307060  1933
1  ALS193307060  1933
2  ALS193307060  1933
3  ALS193307060  1933
4  ALS193307060  1933

In [10]:
#task 11
identifiers.columns=(['game_id','year'])
#task 12
games = pd.concat([games, identifiers], axis=1, sort=False)
games

,type,multi2,multi3,multi4,multi5,multi6,event,game_id,year
0,id,ALS193307060,NaN,NaN,NaN,NaN,NaN,ALS193307060,1933
1,version,1,NaN,NaN,NaN,NaN,NaN,ALS193307060,1933
2,info,inputprogvers,version 7RS(19) of 07/07/92,NaN,NaN,NaN,NaN,ALS193307060,1933
3,info,visteam,NLS,NaN,NaN,NaN,NaN,ALS193307060,1933
4,info,hometeam,ALS,NaN,NaN,NaN,NaN,ALS193307060,1933
...,...,...,...,...,...,...,...,...,...
245,data,er,jeffj001,0,NaN,NaN,NaN,NLS201807170,2018
246,data,er,rivef001,0,NaN,NaN,NaN,NLS201807170,2018
247,data,er,hadej001,1,NaN,NaN,NaN,NLS201807170,2018
248,data,er,handb001,0,NaN,NaN,NaN,NLS201807170,2018
249,data,er,strir001,3,NaN,NaN,NaN,NLS201807170,2018

In [11]:
#task13
games = games.fillna('')
games.head()

,type,multi2,multi3,multi4,multi5,multi6,event,game_id,year
0,id,ALS193307060,,,,,,ALS193307060,1933
1,version,1,,,,,,ALS193307060,1933
2,info,inputprogvers,version 7RS(19) of 07/07/92,,,,,ALS193307060,1933
3,info,visteam,NLS,,,,,ALS193307060,1933
4,info,hometeam,ALS,,,,,ALS193307060,1933

In [12]:
#task14
games['type'] = pd.Categorical(games.loc[:, 'type'])
games.type.dtypes

CategoricalDtype(categories=['com', 'data', 'id', 'info', 'play', 'start', 'sub',
                  'version'],
                 ordered=False)

In [13]:
#task15
games.head()

,type,multi2,multi3,multi4,multi5,multi6,event,game_id,year
0,id,ALS193307060,,,,,,ALS193307060,1933
1,version,1,,,,,,ALS193307060,1933
2,info,inputprogvers,version 7RS(19) of 07/07/92,,,,,ALS193307060,1933
3,info,visteam,NLS,,,,,ALS193307060,1933
4,info,hometeam,ALS,,,,,ALS193307060,1933

In [14]:
filename = '/Users/thanhnguyen/Desktop/Data_analysis/DE_k2/project1_baseball/games/games.csv'
games.to_csv(filename, index=False)